.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.gray-0 {
  color: #f8f9fa;
}

.gray-1 {
  color: #f1f3f5;
}

.gray-2 {
  color: #e9ecef;
}

.gray-3 {
  color: #dee2e6;
}
.gray-4 {
  color: #ced4da;
}
.gray-5 {
  color: #adb5bd;
}
.gray-6 {
  color: #868e96;
}
.gray-7 {
  color: #495057;
}
.gray-8 {
  color: #343a40;
}
.gray-9 {
  color: #212529;
}
.red-0 {
  color: #fff5f5;
}
.red-1 {
  color: #ffe3e3;
}
.red-2 {
  color: #ffc9c9;
}
.red-3 {
  color: #ffa8a8;
}
.red-4 {
  color: #ff8787;
}
.red-5 {
  color: #ff6b6b;
}
.red-6 {
  color: #fa5252;
}
.red-7 {
  color: #f03e3e;
}
.red-8 {
  color: #e03131;
}
.red-9 {
  color: #c92a2a;
}
.pink-0 {
  color: #fff0f6;
}
.pink-1 {
  color: #ffdeeb;
}
.pink-2 {
  color: #fcc2d7;
}
.pink-3 {
  color: #faa2c1;
}
.pink-4 {
  color: #f783ac;
}
.pink-5 {
  color: #f06595;
}
.pink-6 {
  color: #e64980;
}
.pink-7 {
  color: #d6336c;
}
.pink-8 {
  color: #c2255c;
}
.pink-9 {
  color: #a61e4d;
}
.grape-0 {
  color: #f8f0fc;
}
.grape-1 {
  color: #f3d9fa;
}
.grape-2 {
  color: #eebefa;
}
.grape-3 {
  color: #e599f7;
}
.grape-4 {
  color: #da77f2;
}
.grape-5 {
  color: #cc5de8;
}
.grape-6 {
  color: #be4bdb;
}
.grape-7 {
  color: #ae3ec9;
}
.grape-8 {
  color: #9c36b5;
}
.grape-9 {
  color: #862e9c;
}
.violet-0 {
  color: #f3f0ff;
}
.violet-1 {
  color: #e5dbff;
}
.violet-2 {
  color: #d0bfff;
}
.violet-3 {
  color: #b197fc;
}
.violet-4 {
  color: #9775fa;
}
.violet-5 {
  color: #845ef7;
}
.violet-6 {
  color: #7950f2;
}
.violet-7 {
  color: #7048e8;
}
.violet-8 {
  color: #6741d9;
}
.violet-9 {
  color: #5f3dc4;
}
.indigo-0 {
  color: #edf2ff;
}
.indigo-1 {
  color: #dbe4ff;
}
.indigo-2 {
  color: #bac8ff;
}
.indigo-3 {
  color: #91a7ff;
}
.indigo-4 {
  color: #748ffc;
}
.indigo-5 {
  color: #5c7cfa;
}
.indigo-6 {
  color: #4c6ef5;
}
.indigo-7 {
  color: #4263eb;
}
.indigo-8 {
  color: #3b5bdb;
}
.indigo-9 {
  color: #364fc7;
}
.blue-0 {
  color: #e7f5ff;
}
.blue-1 {
  color: #d0ebff;
}
.blue-2 {
  color: #a5d8ff;
}
.blue-3 {
  color: #74c0fc;
}
.blue-4 {
  color: #4dabf7;
}
.blue-5 {
  color: #339af0;
}
.blue-6 {
  color: #228be6;
}
.blue-7 {
  color: #1c7ed6;
}
.blue-8 {
  color: #1971c2;
}
.blue-9 {
  color: #1864ab;
}
.cyan-0 {
  color: #e3fafc;
}
.cyan-0-rgb {
  color: 227, 250, 252;
}
.cyan-1 {
  color: #c5f6fa;
}
.cyan-2 {
  color: #99e9f2;
}
.cyan-3 {
  color: #66d9e8;
}
.cyan-4 {
  color: #3bc9db;
}
.cyan-5 {
  color: #22b8cf;
}
.cyan-6 {
  color: #15aabf;
}
.cyan-7 {
  color: #1098ad;
}
.cyan-8 {
  color: #0c8599;
}
.cyan-9 {
  color: #0b7285;
}
.teal-0 {
  color: #e6fcf5;
}
.teal-1 {
  color: #c3fae8;
}
.teal-2 {
  color: #96f2d7;
}
.teal-3 {
  color: #63e6be;
}
.teal-4 {
  color: #38d9a9;
}
.teal-5 {
  color: #20c997;
}
.teal-6 {
  color: #12b886;
}
.teal-7 {
  color: #0ca678;
}
.teal-8 {
  color: #099268;
}
.teal-9 {
  color: #087f5b;
}
.green-0 {
  color: #ebfbee;
}
.green-1 {
  color: #d3f9d8;
}
.green-2 {
  color: #b2f2bb;
}
.green-3 {
  color: #8ce99a;
}
.green-4 {
  color: #69db7c;
}
.green-5 {
  color: #51cf66;
}
.green-6 {
  color: #40c057;
}
.green-7 {
  color: #37b24d;
}
.green-8 {
  color: #2f9e44;
}
.green-9 {
  color: #2b8a3e;
}
.lime-0 {
  color: #f4fce3;
}
.lime-1 {
  color: #e9fac8;
}
.lime-2 {
  color: #d8f5a2;
}
.lime-3 {
  color: #c0eb75;
}
.lime-4 {
  color: #a9e34b;
}
.lime-5 {
  color: #94d82d;
}
.lime-6 {
  color: #82c91e;
}
.lime-7 {
  color: #74b816;
}
.lime-8 {
  color: #66a80f;
}
.lime-9 {
  color: #5c940d;
}
.yellow-0 {
  color: #fff9db;
}
.yellow-1 {
  color: #fff3bf;
}
.yellow-2 {
  color: #ffec99;
}
.yellow-3 {
  color: #ffe066;
}
.yellow-4 {
  color: #ffd43b;
}
.yellow-5 {
  color: #fcc419;
}
.yellow-6 {
  color: #fab005;
}
.yellow-7 {
  color: #f59f00;
}
.yellow-8 {
  color: #f08c00;
}
.yellow-9 {
  color: #e67700;
}
.orange-0 {
  color: #fff4e6;
}
.orange-1 {
  color: #ffe8cc;
}
.orange-2 {
  color: #ffd8a8;
}
.orange-3 {
  color: #ffc078;
}
.orange-4 {
  color: #ffa94d;
}
.orange-5 {
  color: #ff922b;
}
.orange-6 {
  color: #fd7e14;
}
.orange-7 {
  color: #f76707;
}
.orange-8 {
  color: #e8590c;
}
.orange-9 {
  color: #d9480f;
}
